<div class="row">
    {{#each addresses}}
    <!-- de esta manera creamos un bucle para cada elemento de notes y es una sintaxis handlebar asi que al final lo convierte en html puro-->

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                    {{addressName}} <a href="/addresses/edit/{{_id}}"><i class="fa fa-pencil"></i></a></h3>
                <p><strong>Calle:</strong> {{street}}</p>
                <p><strong>Numero Exterior:</strong> {{noExt}}</p>
                <p><strong>Numero Interior:</strong> {{noInt}}</p>
                <p><strong>Codigo Postal:</strong> {{CP}}</p>
                <p><strong>Colonia:</strong> {{suburb}}</p>
                <p><strong>Ciudad:</strong> {{city}}</p>
                <p><strong>Estado:</strong> {{state}}</p>
                <p><strong>Descripcion:</strong> {{reference}}</p>
                <form action="/addresses/delete/{{_id}}?_method=DELETE" method="POST">
                    <!-- ?_method=DELETE llama al override y convierte el POST en DELETE-->
                    <input type="hidden" name="_method" value="DELETE">
                    <!-- para que sirva el override necesitamos hacer un input hidden para darle el valor y nombre y funcione cuando lo mandemos a routes -->
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>

                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>